body {
    background-color: #d8f3ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container {
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: none;
    background: whitesmoke;
    margin: auto;
    box-shadow: 3px 5px 10px black;
}

.head {
    display: block;
    position: relative;
    font-size: 30px;
    color: #00aeff;
    text-align: center;
    top: 15px;
    margin: 15px;
}

#history {
    display: block;
    text-align: right;    
    color: rgb(108, 108, 108);
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 15px;
    padding-right: 20px;
}

.display-result p{
    font-size: 30px;
    height: 30px;
    text-align: right;
    margin: 0px 17px 15px;
    border-radius: 10px;
    border: 2px solid rgb(126, 126, 126);
    color: #00aeff;
    padding: 15px;
    background: rgb(255, 255, 255);
    font-weight: 800;
}

.buttons {
    display: block;
    position:relative;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.clean {
    width: 172px;
    margin: 8px;
    border: none;
    background-color: #00aeff;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 5px;

}

.clean:active {
    opacity: 40%;
    transform: translateY(1px);
}

.number {
    width: 76px;
    margin: 8px;
    padding: 10px 30px;
    border: none;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.number:active {
    opacity: 40%;
    transform: translateY(3px);
}

.operator {
    width: 76px;
    margin: 8px;
    border: none;
    font-size: 30px;
    background-color: #00aeff;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
}

.operator:active {
    opacity: 40%;
    transform: translateY(3px);
}

.equal-to {
    margin: 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 30px;
    background: #00aeff;
    color: white;
    border-radius: 5px;
    width: 91%;
    padding: 10px;
}

.equal-to:active {
    opacity: 40%;
    transform: translateY(px);
}
